<div class="container-accueil">
    <section class="section1">
        <div class="slogan">
            <h1>TROUVEZ <br>LE PROFESSEUR<br> PARFAIT</h1>
        </div>
        <img class="slide" src ="../assets/params/images/slide.png">
    </section>
    <section class="section2">
        <div class="recherche">
            <input id="txt_find_1" type="text" placeholder="Quelle matiére ? essayer Maths, Piano..."> 
            <input id="txt_find_2" type="text" placeholder="Adresse Ville ou quartier ?"> 
            <button class="bt"> RECHERCHER </button>
        </div>
    </section> 
    
</div>
