   <header>
    
     <img class="logo" src="../assets/params/images/logo/logo.png" alt="logo">
     <nav>
       <ul class="nav_links">
         <li><a routerLink="/">Je Koach</a></li>
         <li><a routerLink="#">Inscription</a></li>
         <li><a routerLink="#">Connexion</a></li>
       </ul>
     </nav>
     <div class="share">
     <a href="#"><i class="fa fa-share-alt" ></i></a>
     </div>
     <div class="social-media">
      <a href="#"><i class="fa fa-youtube" ></i></a>
      <a href="#"><i class="fa fa-facebook" ></i></a>
      <a href="#"><i class="fa fa-twitter" ></i></a>
      <a href="#"><i class="fa fa-linkedin" ></i></a>
     </div>
  </header>

  <main>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </main>

  <div class="foter">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p class="text-center text-white">&copy; 2021 - www.askoach.com</p>
        </div>
      </div>
    </div>
  </div>
